* {
  box-sizing: border-box;
}

.max-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.max-window * {
  font-size: 0.9rem;
}

.max-window input[type="text"] {
  margin: 0;
  height: 2rem;
}

.max-window button {
  height: 2rem;
  font-size: 0.7rem;
  padding: 0.2rem;
}

.modals {
  display: block;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.modals p,
.modals li {
  margin: 0;
  padding: 0;
}

#userlist-modal ul {
  padding: 0 1rem;
}

#roomlist-modal ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  font-size: 0.9rem;
  margin: 0;
  height: 2rem;
  padding: 0 0.5rem;
}

.spacer {
  height: 0.5rem;
}

.chat-container {
  display: flex;
  padding: 0.2rem 0;
  gap: 0.2rem;
  flex-shrink: 0;
  align-items: center;
}

#chat-output {
  flex-grow: 1;
  overflow-y: auto;
}

#chat-output p {
  margin: 0;
  padding: 0.5rem;
}

#chat-output p:nth-child(odd) {
  background-color: #202632;
}

/* --- */

.phone-window {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;

  & * {
    font-size: 1rem;
  }
}

.slider-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
