* {
  box-sizing: border-box;
  font-size: 0.9rem;
}

.max-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#chat-output {
  flex-grow: 1;
  overflow-y: auto;
}

#chat-output p {
  margin: 0;
  padding: 0.5rem;
}

#chat-output p:nth-child(odd) {
  background-color: #202632;
}

#chat-input {
  flex-shrink: 0;
  margin: 0.2rem 0;
}